<% include partials/header %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="/" class="navbar-brand">Dwelli.NG</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link text-shite" href="/createcandidate"><span class=""><i class="fa fa-plus" style="color:green"></i> Add Candidate</span></a>
            </li>
        </ul>
    </div>
</nav>
    <div class="d-flex justify-content-end p-3">
        <span class="small"><a href="/createcandidate"><i class="fa fa-plus" style="color:green"></i> Add Candidate</a> </span>
    </div>
    <table class="table table-info table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Candidate</th>
                <th> Poll1</th>
                <th> Poll2</th>
                <th> Poll3</th>
                <th> Poll4</th>
                <th> Poll5</th>
                <th> Poll6</th>
                <th> Poll7</th>
                <th> Poll8</th>
                <th> Poll9</th>
                <th> Poll10</th>
                <th> Edit Values</th>
            </tr>
        </thead>
        <tbody>
            <% candidates.forEach(candidate => { %>
                <tr>
                    <td><strong><a href="/readcandidate/<%= candidate._id %>" class="text-secondary"><%= candidate.name %> </a></strong></td>
                    <td><%= candidate.poll1 %></td>
                    <td><%= candidate.poll2 %></td>
                    <td><%= candidate.poll3 %></td>
                    <td><%= candidate.poll4 %></td>
                    <td><%= candidate.poll5 %></td>
                    <td><%= candidate.poll6 %></td>
                    <td><%= candidate.poll7 %></td>
                    <td><%= candidate.poll8 %></td>
                    <td><%= candidate.poll9 %></td>
                    <td><%= candidate.poll10 %></td>
                    <td><% include partials/addchange %></td>

                </tr>
            <% }) %>
                 <tr>
                    
                </tr>
        </tbody>
    </table>
    <h4 class="display-4">Proposed Solution (Dwelli.ng Tech Chanlledge)</h4>
    <table class="table table-info table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Candidate</th>
                <th> Vote Share (%)</th>
                <th> Margin Error (%)</th>
            </tr>
        </thead>
        <tbody>
            <% solutions.forEach(solution => { %>
                <tr>
                    <td><strong><%= solution.name %> </strong></td>
                    <td><%= solution.vote_share.toFixed(2) %> %</td>
                    <td>+- <%= solution.margin_error.toFixed(2) %> %</td>

                </tr>
            <% }) %>
                 <tr>
                    
                </tr>
        </tbody>
    </table>

<% include partials/footer %>
